.ROOK-WHITE {
    background-position: -5px -5px;
}

.ROOK-BLACK {
    background-position: -5px -95px;
}

.KNIGHT-WHITE {
    background-position: -95px -5px;
}

.KNIGHT-BLACK {
    background-position: -95px -95px;
}

.BISHOP-WHITE {
    background-position: -185px -5px;
}

.BISHOP-BLACK {
    background-position: -185px -95px;
}

.KING-WHITE {
    background-position: -275px -5px;
}

.KING-BLACK {
    background-position: -275px -95px;
}

.QUEEN-WHITE {
    background-position: -365px -5px;
}

.QUEEN-BLACK {
    background-position: -365px -95px;
}

.PAWN-WHITE {
    background-position: -455px -5px;
}

.PAWN-BLACK {
    background-position: -455px -95px;
}