<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="root">

<div class="playground">
    <div class="chessboard">
        <div class="chessboard-row"
             ng-repeat="rowIndex in cellsMatrix | chessboardReverse:params.side">
            <div class="chessboard-cell"
                 ng-repeat="cell in rowIndex | chessboardReverse:params.side"
                 ng-class="getCellColorClass(cell)">
                <div class="chessboard-cell inner"
                     ng-class="getCellPieceClass(cell)"
                     ng-click="doClick(cell)"></div>
            </div>
        </div>
    </div>

    <div class="horizontal-label" ng-repeat="hLabel in horizontalLabels | chessboardReverse:params.side">
        {{hLabel}}
    </div>
    <div class="vertical-label_wrapper">
        <div class="vertical-label" ng-repeat="vLabel in verticalLabels | chessboardReverse:params.side">
            {{vLabel}}
        </div>
    </div>

    <div>
        <button class="rollback-button" ng-click="rollback()">Rollback</button>
        <button class="wake-button float-right" ng-click="wakeBot()">Wake bot</button>
    </div>
</div>
</html>